html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}

@font-face {
  font-family: 'Z';
  src: url("../fonts/zantroke-webfont.eot");
  src: url("../fonts/zantroke-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/zantroke-webfont.woff") format('woff'), url("../fonts/zantroke-webfont.ttf") format('truetype'), url("../fonts/zantroke-webfont.svg#pt_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/PTS75F-webfont.eot");
  src: url("../fonts/PTS75F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS75F-webfont.woff") format('woff'), url("../fonts/PTS75F-webfont.ttf") format('truetype'), url("../fonts/PTS75F-webfont.svg#pt_sansbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Bold Italic';
  src: url("../fonts/PTS76F-webfont.eot");
  src: url("../fonts/PTS76F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS76F-webfont.woff") format('woff'), url("../fonts/PTS76F-webfont.ttf") format('truetype'), url("../fonts/PTS76F-webfont.svg#pt_sansbold_italic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Italic';
  src: url("../fonts/PTS56F-webfont.eot");
  src: url("../fonts/PTS56F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS56F-webfont.woff") format('woff'), url("../fonts/PTS56F-webfont.ttf") format('truetype'), url("../fonts/PTS56F-webfont.svg#pt_sansitalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PTS55F-webfont.eot");
  src: url("../fonts/PTS55F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTS55F-webfont.woff") format('woff'), url("../fonts/PTS55F-webfont.ttf") format('truetype'), url("../fonts/PTS55F-webfont.svg#pt_sansregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption Bold';
  src: url("../fonts/PTC75F-webfont.eot");
  src: url("../fonts/PTC75F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTC75F-webfont.woff") format('woff'), url("../fonts/PTC75F-webfont.ttf") format('truetype'), url("../fonts/PTC75F-webfont.svg#pt_sans_captionbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Caption';
  src: url("../fonts/PTC55F-webfont.eot");
  src: url("../fonts/PTC55F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTC55F-webfont.woff") format('woff'), url("../fonts/PTC55F-webfont.ttf") format('truetype'), url("../fonts/PTC55F-webfont.svg#pt_sans_captionregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow Bold';
  src: url("../fonts/PTN77F-webfont.eot");
  src: url("../fonts/PTN77F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTN77F-webfont.woff") format('woff'), url("../fonts/PTN77F-webfont.ttf") format('truetype'), url("../fonts/PTN77F-webfont.svg#pt_sans_narrowbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Sans Narrow';
  src: url("../fonts/PTN57F-webfont.eot");
  src: url("../fonts/PTN57F-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/PTN57F-webfont.woff") format('woff'), url("../fonts/PTN57F-webfont.ttf") format('truetype'), url("../fonts/PTN57F-webfont.svg#pt_sans_narrowregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PT Mono';
  src: url("../fonts/ptm55ft-webfont.eot");
  src: url("../fonts/ptm55ft-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/ptm55ft-webfont.woff") format('woff'), url("../fonts/ptm55ft-webfont.ttf") format('truetype'), url("../fonts/ptm55ft-webfont.svg#pt_monoregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

article.example.example-grid-layout-area .page {
        display: grid;
        grid-gap: 0 20px;
        
        grid-template-columns: 250px auto 350px;
        grid-template-rows: 100px auto 100px;
        
        line-height: 100px;
        font-size: 24px;
        min-height: 100%;
        
        grid-template-areas: "header header header"
                             "nav    main   aside" 
                             "footer footer footer";
}

html body article.example.example-grid-layout-area .page.wide {
        
        grid-template-areas: "header header header"
                             "nav    main   main" 
                             "footer footer footer";
}

html body article.example.example-grid-layout-area .page.wide .aside{display: none;}

html body article.example.example-grid-layout-area .page.wide-x {
        
        grid-template-areas: "header header header"
                             "nav    main   main" 
                             "footer footer footer";
}


/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #3e999f;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8;
}

.hljs {
  display: block;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

html.scrolling,
html.scrolling * {
  pointer-events: none !important;
}
section#slides article * {
  pointer-events: none !important;
}
html body section#slides article *[data-click] {
  pointer-events: all !important;
}
.backer {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 50px;
  height: 75px;
  width: 50px;
  background-color: #c00;
}
.backer:after {
  display: block;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  width: 0;
  overflow: hidden;
  border-style: solid;
  border-color: #c00 transparent transparent;
  border-width: 25px 25px 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.code-0 code {
  font-size: 48px;
}
.code-1 code {
  font-size: 42px;
}
.code-2 code {
  font-size: 36px;
}
.code-3 code {
  font-size: 28px;
}
.code-4 code {
  font-size: 24px;
}
.code-5 code {
  font-size: 20px;
}
html body .font-xxlarge>*,
html body .font-xxlarge>* * {
  font-size: 72px;
  line-height: 1.43;
}
.screenshot {
  background: none;
  padding: 0;
}
.screenshot img {
  width: 100%;
}
.half {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  vertical-align: top;
}
.one-third {
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
  height: 80%;
  padding: 20px;
  position: relative;
  margin-top: 40px;
  text-align: center;
}
.one-third img {
  display: inline-block;
  height: 13rem;
  width: 13rem;
}
.one-third h2 {
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  font-size: 48px;
  line-height: 1.43;
  font-weight: bold;
}
.screen img {
  max-height: 70%;
}
.screen .url {
  font-size: 42px;
  line-height: 1.68;
  margin-top: 0;
}
.screen {
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.illustration {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.qrcode img {
  max-width: 90%;
  width: 90%;
  max-height: 70%;
  margin: auto;
  display: block;
}
.qrcode img.avatar {
  max-width: 50%;
  margin: 0;
}
.qrcode .wrapper {
  line-height: 0;
  width: 100%;
}
.qrcode .wrapper .half {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 50%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.qrcode .wrapper .half h2 {
  text-transform: none;
  font-size: 36px;
  line-height: 1.43;
}
.qrcode .wrapper .about-speaker {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
.qrcode .wrapper .about-speaker p {
  font-size: 36px;
  height: auto;
  line-height: 1.68;
  margin: 0;
}
.qrcode .wrapper h1 {
  display: inline-block;
  font-size: 200px;
  vertical-align: middle;
}
.qrcode .wrapper h2 {
  display: inline-block;
  font-size: 75px;
  line-height: 1;
  text-align: left;
  vertical-align: middle;
}
.qrcode .wrapper .logotype {
  width: 35%;
  vertical-align: middle;
}
.qrcode .wrapper .link {
  width: 35%;
  vertical-align: middle;
}
.qrcode .wrapper .title {
  color: #d00;
}
.qrcode .wrapper p {
  height: 100px;
  line-height: 100px;
  font-size: 64px;
  white-space: nowrap;
}
.go-to-page {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  margin: auto;
  background: rgba(0,0,0,0.75);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
.go-to-page.open {
  pointer-events: auto;
  opacity: 1;
}
.go-to-page input {
  pointer-events: inherit;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-style: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 140px;
  height: 140px;
  background: #e6e6e6;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border-radius: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  line-height: 60px;
  font-size: 42px;
}
.go-to-page input:focus {
  background-color: #fff;
}
pre {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  white-space: pre;
}
pre.block {
  display: block;
}
pre code {
  font-family: "PT Mono";
  line-height: 1.68;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #333;
  font-family: "PT Sans";
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body:not(.fs) #slides {
  -webkit-transform: none !important;
          transform: none !important;
}
.progress {
  position: fixed;
  top: -4px;
  left: 0;
  right: 0;
  height: 4px;
  margin: auto;
  z-index: 1000;
  background-color: rgba(255,255,255,0.5);
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
}
.progress .value {
  height: 4px;
  width: 0;
  background-color: rgba(255,0,0,0.75);
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}
body.fs {
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  -webkit-transform: none;
          transform: none;
}
body.fs .progress {
  top: 0;
}
body.fs #slides {
  width: 1200px;
  height: 675px;
  overflow: hidden;
  position: fixed;
  margin: 0;
  margin-top: -337.5px;
  margin-left: -600px;
  top: 50%;
  left: 50%;
}
body.fs #slides article {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
}
body.fs #slides article.current {
  opacity: 1;
  z-index: 110;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Caption";
  text-transform: uppercase;
}
ol {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  padding: 30px 60px;
  list-style: decimal;
}
ol li {
  margin: 0 0 20px;
}
ul {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  padding: 30px 60px;
  list-style: disc;
}
ul li {
  margin: 0 0 20px;
}
article {
  overflow: hidden;
  width: 1200px;
  height: 675px;
  margin: 20px auto;
  background-color: #fff;
  position: relative;
  color: #000;
  counter-increment: slide;
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
article.current {
  -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.25);
          box-shadow: 0 0 0 10px rgba(255,255,255,0.25);
}
article:after {
  font-family: "PT Sans";
  content: counter(slide);
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
  font-size: 14px;
  z-index: 100;
  border-radius: 100%;
  background-color: #fff;
}
article>.wrapper {
  line-height: 1.68;
}
article.cloud h1 {
  position: absolute;
  margin: auto;
  text-align: center;
  display: block;
  border-radius: 100%;
  background-color: #fff;
}
article.cloud h1>.wrapper {
  display: inline-block;
  vertical-align: middle;
}
article.cloud h1:after {
  content: ".";
  height: 0;
  width: 0;
  display: block;
  overflow: hidden;
  position: absolute;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 30px 10px 0 10px;
  top: 100%;
  left: 50%;
  margin: -5px 0 0 -10px;
  -webkit-transform-origin: 10px -100px;
          transform-origin: 10px -100px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
article.title h1 {
  width: 100%;
  line-height: 3;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}
article.dark {
  color: #fff;
}
article.center {
  text-align: center;
  line-height: 675px;
}
article>.wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
html body section#slides article iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all !important;
}
html body section#slides article iframe.half {
  width: 50%;
}
html body section#slides article iframe.half:first-child {
  right: auto;
}
html body section#slides article iframe.half:last-child {
  left: auto;
}
.blockquote {
  background-color: #e8e8e8;
  line-height: 675px;
  text-align: center;
}
.blockquote blockquote {
  width: 90%;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  line-height: 56px;
}
.blockquote blockquote time {
  font-size: 42px;
  opacity: 0.5;
}
.blockquote blockquote cite {
  opacity: 0.5;
  float: right;
  font-size: 42px;
}
.blockquote blockquote p {
  padding: 56px 0 0;
  clear: both;
  font-size: 42px;
  font-style: italic;
}
.blockquote blockquote p:before {
  content: "> ";
  font-style: normal;
}

article.cloud.sadman {
  background-image: url("../images/sadman.jpg");
  background-size: 1200px auto;
  background-position: 50% 50%;
}
article.cloud.sadman h1 {
  width: 400px;
  height: 400px;
  right: 30%;
  bottom: 20%;
  line-height: 400px;
  text-align: left;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.cloud.sadman h1 .wrapper {
  font-size: 64px;
  line-height: 68px;
}
article.cloud.sadman h1:after {
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.house {
  background-image: url("../images/house.jpg");
  background-size: 1200px auto;
  background-position: 50% 50%;
}
article.cloud.house h1 {
  width: 400px;
  height: 400px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 400px;
}
article.cloud.house h1 .wrapper {
  font-size: 52px;
  line-height: 56px;
}
article.cloud.house h1:after {
  display: none;
}
article.cloud.grid {
  background-image: url("../images/grid.jpg");
  background-position: 70% 100%;
}
article.cloud.grid h1 {
  width: 400px;
  height: 400px;
  bottom: 5%;
  right: 5%;
  line-height: 400px;
}
article.cloud.grid h1 .wrapper {
  font-size: 52px;
  line-height: 56px;
}
article.cloud.grid h1:after {
  display: none;
}
article.cloud.grail {
  background-image: url("../images/castle.jpg");
  background-size: 1200px auto;
  background-position: 50% 50%;
}
article.cloud.grail h1 {
  width: 400px;
  height: 400px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 400px;
  background-image: url("../images/holy.jpg");
  background-position: 45% 40%;
  background-repeat: no-repeat;
  background-size: auto 80%;
}
article.cloud.grail h1 .wrapper {
  font-size: 52px;
  line-height: 56px;
}
article.cloud.grail h1:after {
  display: none;
}
article.cloud.faux {
  background-image: url("../images/castle.jpg");
  background-size: 1200px auto;
  background-position: 50% 50%;
}
article.cloud.faux h1 {
  width: 400px;
  height: 400px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 400px;
  background-image: url("../images/fauxabsolutepositioning.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
article.cloud.faux h1 .wrapper {
  font-size: 52px;
  line-height: 56px;
}
article.cloud.faux h1:after {
  display: none;
}
article.cloud.fauxc {
  background-image: url("../images/castle.jpg");
  background-size: 1200px auto;
  background-position: 50% 50%;
}
article.cloud.fauxc h1 {
  width: 400px;
  height: 400px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  line-height: 400px;
  background-image: url("../images/faux-column.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 80%;
}
article.cloud.fauxc h1 .wrapper {
  font-size: 52px;
  line-height: 56px;
}
article.cloud.fauxc h1:after {
  display: none;
}
article.cloud.negative-margin {
  background-image: url("../images/pull.jpg");
  background-size: cover;
  background-position: 100% 90%;
}
article.cloud.negative-margin h1 {
  width: 400px;
  height: 400px;
  right: 5%;
  bottom: 5%;
  line-height: 400px;
}
article.cloud.negative-margin h1 .wrapper {
  font-size: 52px;
  line-height: 56px;
}
article.cloud.negative-margin h1:after {
  display: none;
}
article.cloud.burn {
  background-image: url("../images/burn.jpg");
  background-size: cover;
  background-position: 100% 50%;
}
article.cloud.burn h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.burn h1 .wrapper {
  font-size: 52px;
  line-height: 56px;
}
article.cloud.burn h1:after {
  -webkit-transform: rotate(-105deg);
          transform: rotate(-105deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.colspan {
  background-image: url("../images/colspan.gif");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.colspan h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.colspan h1 b {
  color: #f00;
}
article.cloud.colspan h1 .wrapper {
  font-size: 52px;
  line-height: 56px;
}
article.cloud.colspan h1:after {
  -webkit-transform: rotate(-75deg);
          transform: rotate(-75deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
article.cloud.summer {
  background-image: url("../images/summer.png");
  background-size: cover;
  background-position: 50% 50%;
}
article.cloud.summer h1 {
  width: 400px;
  height: 400px;
  right: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.summer h1 b {
  color: #f00;
}
article.cloud.summer h1 .wrapper {
  font-size: 150px;
  line-height: 400px;
  text-transform: none;
}
article.cloud.summer h1:after {
  -webkit-transform: rotate(-295deg);
          transform: rotate(-295deg);
  -webkit-transform-origin: 10px -198px;
          transform-origin: 10px -198px;
}
.illustration--grail {
  background-image: url("../images/grail.png");
  background-position: 50% 20%;
}
.illustration--beard {
  background-image: url("../images/beard.jpg");
}
.illustration--real-grail {
  background-image: url("../images/original.gif");
  background-size: auto 90%;
}
.illustration--gold {
  background-image: url("../images/frameset.jpg");
}
.illustration--man {
  background-image: url("../images/mans.jpg");
}
.illustration--rocket {
  background-image: url("../images/rocket.jpg");
}
.illustration--holy {
  background: #fff url("../images/holy.jpg") 50% 20% no-repeat;
  background-size: auto;
}
.illustration--plain {
  background-image: url("../images/cave.jpg");
  background-position: 0% 100%;
}
.illustration--frame {
  background: #fff url("../images/piramid.jpg") 10% 100% no-repeat;
  background-size: auto;
}
.illustration--flexbox {
  background-image: url("../images/flexbox.jpg");
}
.illustration--ib {
  background-image: url("../images/paris.jpg");
}
.illustration--mc {
  background-image: url("../images/mc.jpeg");
}
.illustration--tc {
  background-image: url("../images/mumbai.jpg");
}
.illustration--wrap {
  background-image: url("../images/future.jpg");
}
article.cloud.wrap h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.wrap h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.wrap h1:after {
  display: none;
}
article.cloud.tc h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.tc h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.tc h1:after {
  display: none;
}
article.cloud.mc h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.mc h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.mc h1:after {
  display: none;
}
article.cloud.ib h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.ib h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.ib h1:after {
  display: none;
}
article.cloud.flexbox h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.flexbox h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.flexbox h1:after {
  display: none;
}
article.cloud.frame h1 {
  width: 400px;
  height: 400px;
  right: 5%;
  bottom: 5%;
  line-height: 400px;
}
article.cloud.frame h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.frame h1:after {
  display: none;
}
article.cloud.plain h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.plain h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.plain h1:after {
  display: none;
}
article.cloud.table h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  top: 5%;
  line-height: 400px;
}
article.cloud.table h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.table h1:after {
  display: none;
}
.illustration--captain {
  background-image: url("../images/captain.png");
}
.illustration--beer {
  background-image: url("../images/floats.jpg");
}
.illustration--floats {
  background-image: url("../images/florence.jpg");
}
.example--mcolumns img.doit {
  position: absolute;
  left: 33%;
  top: 50px;
  -ms-wrap-flow: both;
  wrap-flow: both;
  width: 350px;
  padding: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.example--mcolumns .container {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  background: rgba(0,0,255,0.1);
  height: 100vh;
}
.example--mcolumns .column {
  font-size: 36px;
  line-height: 46px;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  -webkit-column-break-after: column;
          break-after: column;
  page-break-inside: avoid;
  page-break-after: column;
}
.example--mcolumns .column img {
  display: block;
}
.example--mcolumns .column img.moved {
  margin-left: -50%;
}
.example--mcolumns .column img.transformed {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.example--mcolumns .column img.abs {
  position: absolute;
  left: 33%;
  top: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.example--mcolumns .column:nth-child(1n) {
  background: rgba(255,0,0,0.3);
}
.example--mcolumns .column:nth-child(2n) {
  background: rgba(0,255,0,0.3);
}
.example--mcolumns .column:nth-child(3n) {
  background: rgba(0,255,255,0.3);
}
.example--columns .column {
  text-align: left;
  font-size: 24px;
  width: 400px;
  margin: 0 20px;
  float: left;
  background: rgba(255,0,0,0.3);
}
.example--columns .column:nth-child(2n) {
  background: rgba(0,255,0,0.3);
}
.example--column .container {
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
}
.example--column .column {
  float: left;
  width: 260px;
  padding: 40px 20px;
  background: rgba(255,0,0,0.3);
}
.example--column .column:nth-child(2n) {
  background: rgba(0,0,255,0.3);
}
.example--column .main {
  margin-left: 300px;
  background: rgba(0,255,0,0.3);
  padding: 40px;
}
.example--column-x .container {
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
}
.example--column-x .column {
  float: left;
  width: 260px;
  padding: 40px 20px;
  background: rgba(255,0,0,0.3);
}
.example--column-x .column:nth-child(2n) {
  background: rgba(0,0,255,0.3);
}
.example--column-x .main {
  overflow: hidden;
  background: rgba(0,255,0,0.3);
  padding: 40px 20px;
}
.example--column-y .container {
  width: 100%;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  background: rgba(255,255,0,0.3);
}
.example--column-y .clear {
  clear: both;
}
.example--column-y .column {
  width: 260px;
  padding: 20px 20px;
}
.example--column-y .column--left {
  float: left;
  background: rgba(255,0,0,0.3);
}
.example--column-y .column--right {
  float: right;
  background: rgba(0,0,255,0.3);
}
.example--column-y .main {
  overflow: hidden;
  background: rgba(0,255,0,0.3);
  padding: 20px 20px;
}
.example--column-y .footer {
  background: rgba(0,255,255,0.3);
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
  text-align: center;
}
article.cloud.floats h1 {
  width: 400px;
  height: 400px;
  left: 5%;
  bottom: 5%;
  line-height: 400px;
}
article.cloud.floats h1 .wrapper {
  font-size: 64px;
  line-height: 80px;
}
article.cloud.floats h1:after {
  display: none;
}
.illustration--first {
  background-color: #000;
  background-image: url("../images/first.png");
  background-size: auto 95%;
}
.illustration--grid-scheme {
  background-image: url("../images/grid-scheme.png");
}
.illustration.illustration--negative-margin-explain {
  background-image: url("../images/nmw.png");
}
.screen--pinterest {
  background-image: url("../images/pinterest.png");
}
.screen--grid-1 {
  background-image: url("../images/grid-1.png");
}
.screen--grid-2 {
  background-image: url("../images/grid-2.png");
}
.screen--grid-3 {
  background-image: url("../images/grid-3.png");
}
.screen--grid-4 {
  background-image: url("../images/grid-4.png");
}
.screen--grid-5 {
  background-image: url("../images/grid-5.png");
}
.screen--grid-future {
  background-image: url("../images/future.png");
}
.screen--columns {
  background-image: url("../images/ff-columns.png");
}
.screen--wrap {
  background-image: url("../images/wrap.png");
}
.screen--wrap-b {
  background-image: url("../images/wrapb.png");
}
.screen--s1 {
  background-image: url("../images/s1.png");
}
.screen--s1c {
  background-image: url("../images/s1c.png");
}
.screen--s2 {
  background-image: url("../images/s2.png");
}
.screen--s2c {
  background-image: url("../images/s2c.png");
}
.screen--s3 {
  background-image: url("../images/s3.png");
}
.screen--s3c {
  background-image: url("../images/s3c.png");
}
.screen--s4 {
  background-image: url("../images/s4.png");
}
.screen--s4c {
  background-image: url("../images/s4c.png");
}
.screen--s5 {
  background-image: url("../images/s5.png");
}
.screen--s5c {
  background-image: url("../images/s5c.png");
}
.screen--s6 {
  background-image: url("../images/s6.png");
}
.screen--s6c {
  background-image: url("../images/s6c.png");
}
.screen--s7 {
  background-image: url("../images/s7.png");
}
.screen--s7c {
  background-image: url("../images/s7c.png");
}
.screen--s8 {
  background-image: url("../images/s8.png");
}
.screen--s8c {
  background-image: url("../images/s8c.png");
}
.holy-grail {
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 100px;
  color: #fff;
}
.holy-grail th,
.holy-grail td {
  height: 100px;
  vertical-align: middle;
  text-align: center;
}
.holy-grail th:nth-child(2n+1) {
  background: #f00;
}
.holy-grail td:nth-child(2n) {
  background: #00f;
}
.holy-grail td:nth-child(2n + 1) {
  background: #008000;
}
.border img {
  display: block;
}
.framed {
  border-style: solid;
  border-width: 58px 63px;
  -o-border-image: url("../images/border.png") 58 63;
     border-image: url("../images/border.png") 58 63;
}
.floated-demo {
  text-align: left;
  width: 740px;
  font-size: 24px;
  line-height: 28px;
}
.floated-demo img {
  float: left;
  margin: 0 28px 28px 0;
  height: 168px;
}
article.screen.screen--grid-support {
  background-image: url("../images/grid-support.png");
  background-size: cover;
}
article.screen.screen--grid-support-2 {
  background-image: url("../images/cool.png");
  background-size: contain;
}
article.screen.screen--columns-support {
  background-image: url("../images/columns-support.png");
  background-size: cover;
}
article.screen.screen--exclusion {
  background-image: url("../images/screen-exclusion.png");
}
article.screen.screen--exclusion-support {
  background-image: url("../images/exclusion-support.png");
  background-size: cover;
}
article.screen.screen--display-table-support {
  background-image: url("../images/display-table-support.png");
  background-size: cover;
}
article.screen.screen--display-inline-block-support {
  background-image: url("../images/display-inline-block-support.png");
  background-size: cover;
}
article.screen.screen--flex-support {
  background-image: url("../images/flex.png");
  background-size: contain;
}
article.example.example--float-fail .contain {
  background: rgba(255,0,0,0.5);
  padding-top: 20px;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example--float-fail .contain:after {
  content: "";
  clear: both;
  height: 0;
  line-height: 0;
  display: block;
  font-size: 0;
  overflow: hidden;
}
article.example.example--float-fail .block {
  width: 270px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  font-size: 24px;
  margin: 0 0 20px 20px;
  float: left;
  background: rgba(255,0,255,0.5);
}
article.example.example--float-fail .block:after {
  content: "float: left;";
}
article.example.example--float-fail .block--height {
  height: 300px;
  background: rgba(255,255,0,0.5);
}
.example.example-block span {
  vertical-align: middle;
}
.example.example-block b {
  width: 50px;
  height: 80px;
  background: rgba(255,255,0,0.5);
  border: 4px dashed rgba(255,0,0,0.5);
  display: inline-block;
  vertical-align: middle;
}
.example.example-noblock b {
  display: inline-block;
  position: relative;
}
.example.example-noblock b:after {
  content: "";
  display: block;
  position: absolute;
  top: -200px;
  bottom: -200px;
  border-left: 4px dashed #f00;
}
article.example.example--inline-win .contain {
  background: rgba(255,0,0,0.5);
  padding-top: 20px;
  font-size: 0;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example--inline-win .contain--bottom .block {
  vertical-align: bottom;
}
article.example.example--inline-win .contain--bottom .block--height {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
}
article.example.example--inline-win .block {
  width: 270px;
  height: 200px;
  display: inline-block;
  line-height: 200px;
  text-align: center;
  font-size: 24px;
  margin: 0 0 20px 20px;
  vertical-align: top;
  background: rgba(255,0,255,0.5);
}
article.example.example--inline-win .block:after {
  content: "display: inline-block;";
}
article.example.example--inline-win .block--height {
  height: 300px;
  background: rgba(255,255,0,0.5);
}
article.example.example--flex-top .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background: rgba(255,0,0,0.5);
  min-height: 100%;
  padding: 20px 0 0;
}
article.example.example--flex-top .block {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 200px;
  margin: 0 0 20px 20px;
  background: rgba(255,0,255,0.5);
}
article.example.example--flex-top .block--height {
  height: 300px;
  background: rgba(255,255,0,0.5);
}
article.example.example--flex-bottom .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: rgba(255,0,0,0.5);
  min-height: 100%;
  padding: 20px 0 0;
}
article.example.example--flex-bottom .block {
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 200px;
  margin: 0 0 20px 20px;
  background: rgba(255,0,255,0.5);
}
article.example.example--flex-bottom .block--height {
  height: 300px;
  background: rgba(255,255,0,0.5);
}
article.screen.screen--display-inline-block-example {
  background-image: url("../images/inline-block.png");
  background-size: contain;
}
section#slides article.example.example--display-table {
  pointer-events: all !important;
}
section#slides article.example.example--display-table .wrapper {
  width: 100%;
}
section#slides article.example.example--display-table * {
  pointer-events: all !important;
}
section#slides article.example.example--display-table form {
  display: table;
  width: 80%;
  margin: auto;
}
section#slides article.example.example--display-table label {
  display: table-cell;
  width: 100%;
}
section#slides article.example.example--display-table input {
  -webkit-appearance: none;
  all: unset;
  padding: 0 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 100px;
  border: 1px solid #333;
  font-size: 32px;
  text-align: left;
}
section#slides article.example.example--display-table button {
  -webkit-appearance: none;
  all: unset;
  padding: 0 20px;
  display: table-cell;
  border: 1px solid #333;
  border-left-style: none;
  line-height: 100px;
  font-size: 32px;
}
article.example.example--negative-margin.current .main.step-2 + .aside {
  margin-left: -350px;
}
article.example.example--negative-margin.current .main.step-2:after {
  -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
}
article.example.example--negative-margin.current .main.step-3 {
  padding-right: 370px;
}
article.example.example--negative-margin .container {
  background-color: rgba(255,0,0,0.5);
  font-size: 56px;
  line-height: 64px;
}
article.example.example--negative-margin .container:after {
  content: "";
  display: table;
  clear: both;
}
article.example.example--negative-margin .main {
  position: relative;
  float: left;
  margin-right: 0;
  padding-right: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0,255,0,0.5);
  -webkit-transition: margin-right 1s 1s linear, padding 1s 1s linear;
  transition: margin-right 1s 1s linear, padding 1s 1s linear;
}
article.example.example--negative-margin .main.step-3 + .aside {
  margin-left: -350px;
}
article.example.example--negative-margin .main.step-4 {
  padding-right: 370px;
}
article.example.example--negative-margin .main.step-4 + .aside {
  margin-left: -350px;
  position: relative;
  z-index: 1;
}
article.example.example--negative-margin .main:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  width: 342px;
  height: 184px;
  border: 4px dashed #f00;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 1s 1s;
  transition: -webkit-transform 1s 1s;
  transition: transform 1s 1s;
  transition: transform 1s 1s, -webkit-transform 1s 1s;
}
article.example.example--negative-margin .aside {
  -webkit-transition: margin-left 1s 1s linear, padding 1s 1s linear;
  transition: margin-left 1s 1s linear, padding 1s 1s linear;
  float: left;
  width: 350px;
  margin-left: 0;
  background-color: rgba(0,255,255,0.5);
}
section#slides article.example.example--display-flex {
  pointer-events: all !important;
}
section#slides article.example.example--display-flex .wrapper {
  width: 100%;
}
section#slides article.example.example--display-flex * {
  pointer-events: all !important;
}
section#slides article.example.example--display-flex form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
}
section#slides article.example.example--display-flex input {
  -webkit-appearance: none;
  all: unset;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 100px;
  border: 1px solid #333;
  font-size: 32px;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
section#slides article.example.example--display-flex button {
  -webkit-appearance: none;
  all: unset;
  padding: 0 20px;
  border: 1px solid #333;
  border-left-style: none;
  line-height: 100px;
  font-size: 32px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
article.example.example--display-inline-block header,
article.example.example--display-inline-block footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #f00;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
article.example.example--display-inline-block .content {
  font-size: 0;
  background-color: #ff0;
  min-height: calc(100% - 200px);
  line-height: calc(100% - 200px);
}
article.example.example--display-inline-block .content--bottom .column {
  vertical-align: bottom;
}
article.example.example--display-inline-block .content--middle .column {
  vertical-align: middle;
}
article.example.example--display-inline-block .column {
  display: inline-block;
  vertical-align: top;
  font-size: 32px;
  line-height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}
article.example.example--display-inline-block .column--left {
  width: 350px;
}
article.example.example--display-inline-block .column--right {
  width: 250px;
}
article.example.example--display-inline-block .column--central {
  width: calc(100% - 600px);
  background: #0ff;
}
article.example.example--display-inline-block .column:nth-child(2n + 1) {
  background: #0f0;
}
article.example.example--display-table-grail.center header,
article.example.example--display-table-grail.center footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #f00;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
article.example.example--display-table-grail.center .content {
  display: table;
  table-layout: auto;
  width: 100%;
  min-height: calc(100% - 200px);
  background-color: #ff0;
  line-height: 32px;
  font-size: 28px;
  text-align: left;
}
article.example.example--display-table-grail.center .column {
  display: table-cell;
  padding: 20px;
}
article.example.example--display-table-grail.center .column--left {
  width: 350px;
}
article.example.example--display-table-grail.center .column--right {
  width: 250px;
}
article.example.example--display-table-grail.center .column:nth-child(2n + 1) {
  background: #0f0;
}
article.example.example--flex .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
article.example.example--flex .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #ffa500;
}
article.example.example--flex .content--ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
article.example.example--flex .content--ready .column--centr {
  background-color: rgba(255,0,255,0.5);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
article.example.example--flex .content--ready .column--left {
  background-color: rgba(0,255,0,0.5);
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
article.example.example--flex .content--ready .column--right {
  background-color: rgba(0,255,255,0.5);
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
article.example.example--flex .content .column {
  padding: 20px;
  font-size: 24px;
  line-height: 28px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
article.example.example--flex .content .column--centr {
  background-color: rgba(255,0,255,0.5);
}
article.example.example--flex .content .column--left {
  background-color: rgba(0,255,0,0.5);
}
article.example.example--flex .content .column--right {
  background-color: rgba(0,255,255,0.5);
}
article.example.example--flex .header {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
article.example.example--flex .header,
article.example.example--flex .footer {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  line-height: 100px;
  font-size: 36px;
  text-align: center;
  background-color: #f00;
  color: #fff;
}
article.example.example-grid-layout .page {
  display: grid;
  grid-gap: 0 20px;
  grid-template-columns: 250px auto 350px;
  grid-template-rows: 100px auto 100px;
  line-height: 100px;
  font-size: 24px;
  min-height: 100%;
}
article.example.example-grid-layout .header {
  grid-row: 1;
  grid-column: 1/4;
  text-align: center;
  color: #fff;
  background: #f00;
}
article.example.example-grid-layout .footer {
  grid-row: 3;
  grid-column: 1/4;
  text-align: center;
  color: #fff;
  background: #f00;
}
article.example.example-grid-layout .aside {
  grid-row: 2;
  grid-column: 3;
  width: 350px;
  background: #008000;
  text-align: center;
  color: #fff;
}
article.example.example-grid-layout .nav {
  grid-row: 2;
  grid-column: 1;
  width: 250px;
  background: #00f;
  text-align: center;
  color: #fff;
}
article.example.example-grid-layout .main {
  grid-row: 2;
  grid-column: 2;
  background: #ffa500;
  line-height: 36px;
}
article.example.example-grid-layout-area .header {
  grid-area: header;
  text-align: center;
  color: #fff;
  background: #f00;
}
article.example.example-grid-layout-area .footer {
  grid-area: footer;
  text-align: center;
  color: #fff;
  background: #f00;
}
article.example.example-grid-layout-area .aside {
  grid-area: aside;
  width: 350px;
  background: #008000;
  text-align: center;
  color: #fff;
}
article.example.example-grid-layout-area .nav {
  grid-area: nav;
  width: 250px;
  background: #00f;
  text-align: center;
  color: #fff;
}
article.example.example-grid-layout-area .main {
  grid-area: main;
  background: #ffa500;
  line-height: 36px;
}
article.example.example-grid-layout-area-x .header {
  grid-area: header;
  text-align: center;
  color: #fff;
  background: #f00;
}
article.example.example-grid-layout-area-x .footer {
  grid-area: footer;
  text-align: center;
  color: #fff;
  background: #f00;
}
article.example.example-grid-layout-area-x .aside {
  grid-area: aside;
  width: 350px;
  background: #008000;
  text-align: center;
  color: #fff;
}
article.example.example-grid-layout-area-x .nav {
  grid-area: nav;
  width: 250px;
  background: #00f;
  text-align: center;
  color: #fff;
}
article.example.example-grid-layout-area-x .main {
  grid-area: main;
  background: #ffa500;
  line-height: 36px;
}
article.example.example--grail .header {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  background: #f0f;
  position: relative;
}
article.example.example--grail .footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  background: #f0f;
  position: relative;
}
article.example.example--grail .container {
  background: rgba(255,0,0,0.3);
  padding: 0 350px 0 250px;
  font-size: 24px;
  line-height: 36px;
}
article.example.example--grail .container--float .main {
  float: left;
  width: 100%;
}
article.example.example--grail .container--float .nav {
  float: left;
  width: 250px;
}
article.example.example--grail .container--float .aside {
  float: right;
  width: 350px;
}
article.example.example--grail .container--margin .main {
  float: left;
  width: 100%;
}
article.example.example--grail .container--margin .nav {
  float: left;
  width: 250px;
  margin-left: -100%;
}
article.example.example--grail .container--margin .aside {
  float: right;
  width: 350px;
  margin-right: -350px;
}
article.example.example--grail .container--position .main {
  float: left;
  width: 100%;
}
article.example.example--grail .container--position .nav {
  float: left;
  width: 250px;
  margin-left: calc(-100% - 250px);
}
article.example.example--grail .container--position .aside {
  float: right;
  width: 350px;
  margin-right: -350px;
}
article.example.example--grail .container:after {
  clear: both;
  content: "";
  display: table;
}
article.example.example--grail .container .main {
  background: rgba(255,128,0,0.3);
  width: 100%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example--grail .container .aside {
  background: rgba(0,128,255,0.3);
  width: 350px;
  padding: 20px 20px 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example--grail .container .nav {
  background: rgba(0,255,0,0.3);
  width: 250px;
  padding: 20px 10px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example.faux-absolute.current .container--semi {
  margin-left: -600px;
}
article.example.example.faux-absolute .header {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  background: #f0f;
  position: relative;
}
article.example.example.faux-absolute .footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  background: #f0f;
  position: relative;
}
article.example.example.faux-absolute .container {
  background: rgba(255,0,0,0.3);
  font-size: 24px;
  line-height: 36px;
  position: relative;
  width: 100%;
}
article.example.example.faux-absolute .container--semi {
  -webkit-transition: margin-left 1s 1s linear;
  transition: margin-left 1s 1s linear;
  margin-left: 0;
}
article.example.example.faux-absolute .container--semi .main,
article.example.example.faux-absolute .container--semi .nav,
article.example.example.faux-absolute .container--semi .aside {
  float: left;
  position: relative;
  left: 100%;
}
article.example.example.faux-absolute .container--final .main {
  background: rgba(255,128,0,0.3);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example.faux-absolute .container--final .aside {
  background: rgba(0,128,255,0.3);
  width: 350px;
  padding: 20px 20px 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example.faux-absolute .container--final .nav {
  background: rgba(0,255,0,0.3);
  width: 250px;
  padding: 20px 10px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example.faux-absolute .container--final .main,
article.example.example.faux-absolute .container--final .nav,
article.example.example.faux-absolute .container--final .aside {
  float: left;
  position: relative;
  left: 100%;
}
article.example.example.faux-absolute .container--final .main {
  margin-left: -100%;
  padding: 20px 350px 20px 250px;
  z-index: 1;
}
article.example.example.faux-absolute .container--final .nav {
  margin-left: -100%;
  z-index: 2;
}
article.example.example.faux-absolute .container--final .aside {
  margin-left: -350px;
  z-index: 2;
}
article.example.example.faux-absolute .container:after {
  clear: both;
  content: "";
  display: table;
}
article.example.example.faux-absolute .main {
  background: rgba(255,128,0,0.3);
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 350px 20px 250px;
}
article.example.example.faux-absolute .aside {
  background: rgba(0,128,255,0.3);
  width: 350px;
  padding: 20px 20px 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example.faux-absolute .nav {
  background: rgba(0,255,0,0.3);
  width: 250px;
  padding: 20px 10px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example.faux-absolute .main,
article.example.example.faux-absolute .nav,
article.example.example.faux-absolute .aside {
  float: left;
}
article.example.example.faux-columns-problem .header {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  background: #f0f;
  position: relative;
}
article.example.example.faux-columns-problem .footer {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
  background: #f0f;
  position: relative;
}
article.example.example.faux-columns-problem .container {
  background: rgba(255,0,0,0.3);
  padding: 0 350px 0 250px;
  font-size: 24px;
  line-height: 36px;
}
html body article.example.example.faux-columns-problem .container--shadow + .footer {
  -webkit-box-shadow: 0 9999px 0 9999px #f0f;
          box-shadow: 0 9999px 0 9999px #f0f;
}
html body article.example.example.faux-columns-problem .container--shadow .nav,
html body article.example.example.faux-columns-problem .container--shadow .aside,
html body article.example.example.faux-columns-problem .container--shadow .main {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
html body article.example.example.faux-columns-problem .container--overflow {
  overflow: hidden;
}
html body article.example.example.faux-columns-problem .container--overflow .nav,
html body article.example.example.faux-columns-problem .container--overflow .aside,
html body article.example.example.faux-columns-problem .container--overflow .main {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
html body article.example.example.faux-columns-problem .container--margin .nav,
html body article.example.example.faux-columns-problem .container--margin .aside,
html body article.example.example.faux-columns-problem .container--margin .main {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}
html body article.example.example.faux-columns-problem .container--padding .nav,
html body article.example.example.faux-columns-problem .container--padding .aside,
html body article.example.example.faux-columns-problem .container--padding .main {
  padding-bottom: 9999px;
}
article.example.example.faux-columns-problem .container:after {
  clear: both;
  content: "";
  display: table;
}
article.example.example.faux-columns-problem .container .main {
  background: rgba(255,128,0,0.3);
  float: left;
  width: 100%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example.faux-columns-problem .container .aside {
  background: rgba(0,128,255,0.3);
  float: left;
  width: 350px;
  margin-right: -350px;
  padding: 20px 20px 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example.faux-columns-problem .container .nav {
  background: rgba(0,255,0,0.3);
  float: left;
  width: 250px;
  margin-left: -100%;
  position: relative;
  left: -250px;
  padding: 20px 10px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example--float-drop .container {
  position: relative;
  background: rgba(255,0,0,0.3);
  padding: 0 350px 0 250px;
  font-size: 24px;
  line-height: 36px;
}
article.example.example--float-drop .container:after {
  clear: both;
  content: "";
  display: table;
}
article.example.example--float-drop .container .main {
  background: rgba(255,128,0,0.3);
  float: left;
  width: 100%;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.example.example--float-drop .container .aside {
  background: rgba(0,128,255,0.3);
  float: left;
  width: 350px;
  margin-right: -350px;
  padding: 20px 20px 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: visible;
}
article.example.example--float-drop .container .nav {
  background: rgba(0,255,0,0.3);
  float: left;
  width: 250px;
  margin-left: -100%;
  position: relative;
  left: -250px;
  padding: 20px 10px 20px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
article.center.qrcode.var h2 {
  font-size: 64px;
}
article.center.qrcode.var-2 h2 {
  font-size: 72px;
}
article.center.qrcode.var-3 h2 {
  font-size: 72px;
}
article.center.qrcode.var-3 a {
  font-size: 32px;
}
article.center.qrcode.var-4 h2 {
  font-size: 72px;
}
article.center.qrcode.var-4 a {
  font-size: 24px;
}
article.center.qrcode.var-5 h2 {
  font-size: 60px;
}
article.center.qrcode.var-5 a {
  font-size: 42px;
}
